/*
*
* CLASES PERSONALIZADAS
*
*/
/*LABEL PRECIO MENÚ*/
.label_menu_price {
    background: rgba(210, 255, 82, 1);
    background: -moz-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(210, 255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

/*LABELS DE CARTA Y MENU*/
.label_carta-menu {
    background: rgba(193, 226, 236, 1);
    background: -moz-linear-gradient(-45deg, rgba(193, 226, 236, 1) 0%, rgba(156, 207, 222, 1) 41%, rgba(104, 181, 202, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(193, 226, 236, 1)), color-stop(41%, rgba(156, 207, 222, 1)), color-stop(100%, rgba(104, 181, 202, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(193, 226, 236, 1) 0%, rgba(156, 207, 222, 1) 41%, rgba(104, 181, 202, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(193, 226, 236, 1) 0%, rgba(156, 207, 222, 1) 41%, rgba(104, 181, 202, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(193, 226, 236, 1) 0%, rgba(156, 207, 222, 1) 41%, rgba(104, 181, 202, 1) 100%);
    background: linear-gradient(135deg, rgba(193, 226, 236, 1) 0%, rgba(156, 207, 222, 1) 41%, rgba(104, 181, 202, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1e2ec', endColorstr='#68b5ca', GradientType=1);
}

/*INPUT-RADIO STYLE*/
/* Centra el input personalizado con el texto */
*,
*:before,
*:after {
    box-sizing: inherit;
}

.radiogroup {
    padding: 48px 64px;
    border-radius: 16px;
    background: #ecf0f3;
    box-shadow: 4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}


.wrapper {
    margin: 8px 0;
}

.state {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1e-5;
    pointer-events: none;
}

.label {
    display: inline-flex;
    align-items: center;
    color: #394a56;
}

.text {
    margin-left: 16px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
}

.indicator {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /*box-shadow:*/
    /*        -8px -4px 8px 0px #ffffff,*/
    /*        8px 4px 12px 0px #d1d9e6;*/
    overflow: hidden;
}

.indicator::before,
.indicator::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.indicator::before {
    box-shadow: -4px -2px 4px 0px #d1d9e6,
    4px 2px 8px 0px #478fc7;
    background-color: #478fc7eb;
}

.indicator::after {
    background-color: #ecf0f3;
    box-shadow: -4px -2px 4px 0px #fff,
    4px 2px 8px 0px #d1d9e6;
    transform: scale3d(1, 1, 1);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
}

.state:checked ~ .label .indicator::after {
    transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
}

.state:focus ~ .label .text {
    transform: translate3d(8px, 0, 0);
    opacity: 1;
}

.label:hover .text {
    opacity: 1;
}

/*----------*/
.button {
    width: 47%;
    border-radius: 32px;
    line-height: 30px;
    font-family: Papyrus;
    font-weight: bold;
    text-align: center;
    background-color: #888;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(250, 250, 250, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
    margin-bottom: .5em;
    padding: .2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.button:active {
    background-color: transparent
}

/*.button span {*/
/*    line-height: 100px;*/
/*    font-family: "Montserrat", sans-serif;*/
/*    font-size: 32px;*/
/*    font-weight: bold;*/
/*}*/

/*.button:nth-child(1) {*/
/*    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);*/
/*    color: #6f6cde;*/
/*}*/
/*.button:nth-child(1):hover {*/
/*    opacity: 0.3;*/
/*    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);*/
/*}*/
/*.button:nth-child(1):active {*/
/*    opacity: 1;*/
/*    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);*/
/*    color: #79e3b6;*/
/*}*/
/*.button:nth-child(2) {*/
/*    opacity: 0.3;*/
/*    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);*/
/*    color: #6f6cde;*/
/*}*/
/*.button:nth-child(3) {*/
/*    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);*/
/*    color: #79e3b6;*/
/*}*/
/*.button:nth-child(3):hover {*/
/*    opacity: 1;*/
/*    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);*/
/*}*/


.span_select {
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 8px rgba(0, 0, 0, 0.1);
    color: #478fc7;
}

.span_no_select {
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button__text {
    position: relative;
    transform: translate3d(0px, -4px, 0px);
    margin: 0;
    align-self: end;
    grid-column: 0.2;
    grid-row: 2;
    text-align: center;
    font-size: 32px;
    background-color: #888;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
}


.fondo_head {
    background: rgba(76, 76, 76, 1);
    /*background: -moz-linear-gradient(45deg, rgba(19, 19, 19, .5) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);*/
    /*background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(19, 19, 19, .5)), color-stop(51%, rgba(19, 19, 19, .5)), color-stop(100%, rgba(19, 19, 19, .1)));*/
    /*background: -webkit-linear-gradient(45deg, rgba(19, 19, 19, .5) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);*/
    /*background: -o-linear-gradient(45deg, rgba(19, 19, 19, .5) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);*/
    /*background: -ms-linear-gradient(45deg, rgba(19, 19, 19, .5) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);*/
    /*background: linear-gradient(45deg, rgba(19, 19, 19, .5) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);*/
    background: -moz-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(250, 250, 250, 1)), color-stop(51%, rgba(19, 19, 19, .5)), color-stop(100%, rgba(19, 19, 19, .1)));
    background: -webkit-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);
    background: -o-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);
    background: -ms-linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);
    background: linear-gradient(45deg, rgba(250, 250, 250, 1) 0%, rgba(19, 19, 19, .5) 51%, rgba(19, 19, 19, .1) 100%);
}

.column {
    fontFamily: 'Dosis'
}

.button_comanda {
    font-size: 1.3em;
    padding: .5em 2em;
    border-radius: 32px;
    line-height: 30px;
    font-family: Papyrus;
    font-weight: bold;
    text-align: center;
    /*background-color: #478fc7;*/
    color: #478fc7;
    text-shadow: 2px 2px 3px rgba(250, 250, 250, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button_comanda:focus {
    outline: none;
}

.button_comanda:active {
    position: relative;
    top: 1px;
    outline: none;
}

.migas_a:visited,
.migas_a:link {
    color: #000;
}

.price_bg {
    /*background-image: url(./icons/mosaico.svg);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
}

.reload {
    animation: reload 1.0s infinite ease-in-out both;
}

@keyframes reload {
    /*25% { transform: rotate(90deg); }*/
    50% {
        transform: rotate(180deg);
    }
    /*75% { transform: rotate(270deg); }*/
    100% {
        transform: rotate(360deg);
    }
}

.text-shadow {
    text-shadow: rgba(250, 250, 250, 0.3) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.25) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px;
    font-weight: bolder;
}

.opaco {
    opacity: .8;
}

.color_span_select {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 23%, rgba(242, 242, 242, 1) 40%, rgba(156, 255, 242, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(23%, rgba(245, 245, 245, 1)), color-stop(40%, rgba(242, 242, 242, 1)), color-stop(100%, rgba(156, 255, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 23%, rgba(242, 242, 242, 1) 40%, rgba(156, 255, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 23%, rgba(242, 242, 242, 1) 40%, rgba(156, 255, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 23%, rgba(242, 242, 242, 1) 40%, rgba(156, 255, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 1) 23%, rgba(242, 242, 242, 1) 40%, rgba(156, 255, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#9cfff2', GradientType=0);
    font-weight: bolder;
}

.paddingLeftAllergensModal {
    padding-left: 1.3em;
}

.paddingRighttAllergensModal {
    padding-right: 1.3em;
}

.paddingAllergensModal {
    padding: 0 1.3em;
}

.subRoot {
    /*background-image: url(./comandApp_logo.png);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
}

.subRoot {
    height: 90% !important;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    /*descomentar para pruebas de contenido máximo*/
    /*background: yellow;*/
}

.subRootHome {
    height: 100% !important;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    /*descomentar para pruebas de contenido máximo*/
    background: #75bdd121;
}

.close {
    position: sticky;
    top: 0;
    width: 3em;
    z-index: 99999;
    color: rgba(0, 0, 0, .4);
    background-color: #fff;
    border-radius: 50%;
}

.cont_footer_absolut {
    position: sticky;
    width: 100%;
    height: 10%;
    background-color: #fff;
    z-index: 9;
    bottom: 0;
    padding: .5em;
}

.absolut {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9;
    opacity: .51;
}

.cont_childs {
    position: relative;
    /*width: calc(100% - 52%);*/
    width: 100%;
    margin: 1%;
    text-align: center;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (orientation: landscape) {
    .cont_childs {
        position: relative;
        /*width: calc(100% - 68.7%);*/
        width: 48%;
        margin: 1%;
        text-align: center;
        line-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.padre {
    display: flex;
    flex-flow: row wrap;
    padding: 1%;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.displayed {
    display: block;
}

.displayed_none {
    display: none !important;
}

.full {
    width: 100%;
    height: 100%;
}

/*
*
*COMANDAHOME SECTION
*
**/

@media (orientation: landscape) {
    #cont_boton_home {
        justify-content: flex-end !important;
        padding-right: 4em;
    }

    #img_boton_comanda {
        margin-right: 2em;
    }
}

/*
*
*PUBLI COMPONENT
*
**/
.patrocinadores {
    /*font-family: 'Fontdiner Swanky';*/
    font-family: 'Dosis';
    color: dimgrey;
}

@media (orientation: portrait) {
    .patrocinadores {
        display: none;
    }
}

@media (orientation: landscape) {
    .cont_publi {
        justify-content: space-around !important;
        align-items: center !important;
    }
}

/*
*
*LOGIN CONTAINER
*
*/
.login_home {
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 9999999999;
    padding: 1em 2em;
    background-position: bottom;
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(52%, rgba(247, 247, 247, 1)), color-stop(93%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#49a5bf', GradientType=0);
}

#form_login_home {
    display: flex;
    flex-direction: column;
}

#form_login_home label {
    font-family: 'Dosis';
    font-size: 1.3em;
    margin-bottom: 1em;
}

#form_login_home input[type="number"] {
    width: 70%;
    text-indent: 1em;
    border-radius: 0 10px 10px 0;
}

#form_login_home button#submit_login {
    background-color: transparent;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    opacity: 0.9;
    border: 2px solid white;
    font-weight: bolder;
    width: 70%;
    margin: 0 auto;
}

#form_login_home button#submit_login:focus {
    outline: none;
}

@media (orientation: landscape) {
    #form_login_home input[type="number"] {
        width: 40%;
        text-indent: 1em;
    }

    #form_login_home button#submit_login {
        width: 40%;
    }
}

/*
*
*   FORM USERPROFILE COMANDAHOME
*
*/
#submit_login {
    display: block;
    width: 60%;
    background: white;
    border-bottom: 1px solid white;
    text-align: center;
    color: #707070;
    padding: .5em 0;
    margin: 2em auto;
    /*margin-bottom: 2em;*/
    /*margin-top: 2em;*/
    font-size: 1.3em;
    border: 2px solid rgb(177, 216, 226);
    color: rgb(177, 216, 226);
    border-radius: 10px;
}

.smallrequired {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-left: 10%;
}

div.alturatextarea {
    height: 6.9em;
    background: rgb(177, 216, 226);
    border-radius: 10px 0px 0px 10px;
}

textarea.alturatextarea {
    max-height: 6em;
    min-height: 6em;
}

#userprofile textarea,
#userprofile input {
    width: 80%;
}

@media (orientation: landscape) {
    #userprofile textarea,
    #userprofile input {
        width: 60%;
    }

    .smallrequired {
        width: 60%;
        margin-left: 20%;
    }

    .smallrequired > p {
        margin-right: 0 !important;
    }

    textarea.alturatextarea {
        max-width: 60%;
        min-width: 60%;
    }
}

/*
*
* ESTILOS HEADER
*
*/
/* .mediaViewInfo {
    --web-view-name: Pantalla de Inicio – 2;
    --web-view-id: Pantalla_de_Inicio___2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Pantalla_de_Inicio___2;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

/* #Pantalla_de_Inicio___2 {
    position: absolute;
    width: 720px;
    height: 1280px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Pantalla de Inicio – 2;
    --web-view-id: Pantalla_de_Inicio___2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
} */


/* .Elipse_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 103px;
    height: 103px;
    left: 0px;
    top: 0px;
}

.Elipse_2 {
    position: absolute;
    overflow: visible;
    width: 60px;
    height: 60px;
    left: 13px;
    top: 13px;
} */

#Grupo_11 {
    position: absolute;
    width: 36px;
    height: 48px;
    left: 25px;
    top: 20px;
    overflow: visible;
}

/* #A {
    position: absolute;
    left: 18px;
    top: 12px;
    overflow: visible;
    width: 19px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112, 112, 112, 1);
}

#C {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 31px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
} */


#powered_by {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /*color: rgba(112, 112, 112, 1);*/

}

#powered_by span {
    color: white
}

#socialPymes_Imagotipo {
    position: absolute;
    width: 150px;
    height: 26.339px;
    left: 0px;
    top: 20px;
    overflow: visible;
}

.L_nea_1 {
    overflow: visible;
    position: absolute;
    width: 720px;
    height: 2px;
    left: 0px;
    top: 102px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Grupo_14 {
    position: absolute;
    width: 35px;
    height: 27.065px;
    left: 637px;
    top: 28.5px;
    overflow: visible;
}

/*
*
* ESTILOS CLIENTPROFILE
*
*/

.reduce {
    height: 0px;
    overflow: hidden;
}

.normal {
    height: auto;

}

.cont_menuhome {
    background-position: bottom;
    /*background: rgba(247, 247, 247, 1);*/
    /*background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(52%, rgba(247, 247, 247, 1)), color-stop(93%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(73, 165, 191, 1)));*/
    /*background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(247, 247, 247, 1) 52%, rgba(117, 189, 209, 1) 93%, rgba(73, 165, 191, 1) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#49a5bf', GradientType=0);
    background: #B1D8E2;
}

.nav-comandhome {
    width: 5em;
    height: 5em;
    border-radius: 0 0 90px;
    transition-duration: .3s;
}

.nav-comandhome_expand {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition-duration: .3s;
    display: flex;
    overflow: auto;
    padding: 1em;
}

ul.uloptionsmenuhome {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li.lioptionsmenuhome {
    font-size: 2em;
    padding: 1em 0 0 0;
    /*border-bottom: 2px solid white;*/
    /*background: whitesmoke;*/
    text-align: center;
    font-family: 'Papyrus';
    opacity: 0;
}

.nav-comandhome li.lioptionsmenuhome {
    opacity: 0;
}

.nav-comandhome_expand li.lioptionsmenuhome {
    opacity: 1;
    transition-delay: .3s;
    transition-duration: .7s;
}


/*
*
* ESTILOS FOOTER
*
*/
.opacity {
    opacity: 1;
    bottom: -30em;
}

.opacity_none {
    opacity: 0;
    left: -3333em;
    bottom: 2.9em;
}

ul {
    list-style: none;
    margin: 0;
}

/*.menu > li {*/
/*    display: block;*/
/*    float: left;*/
/*    position: relative;*/
/*}*/

.menu a, .menu img {
    /*border-left: 3px solid rgba(0, 0, 0, 0);*/
    /*color: #808080;*/
    display: block;
    /*font-family: 'Lucida Console';*/
    /*font-size: 18px;*/
    /*line-height: 54px;*/
    margin: 1em 0;
    text-decoration: none;
    text-transform: uppercase;
}

.cont_extra {
    position: absolute;
    flex-direction: column;
    background-color: white; /*#E5E5E5;*/
    border: 2px solid lightgray;
    bottom: 2.9em;
    padding: .5em;
    border-radius: 20px 20px;
}

/*NEW*/
.telegram {
    padding: 0.3em;
}

.submenu {
    /*left: 0;*/
    /*max-height: 0;*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*z-index: 0;*/
    margin-bottom: 15px; /*NEW*/
    position: absolute;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}

.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}

/*---*/

.no_opa_trans {
    opacity: 1 !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}

.child_1 {
    -webkit-transition-delay: .1s !important;
    -moz-transition-delay: .1s !important;
    -ms-transition-delay: .1s !important;
    -o-transition-delay: .1s !important;
    transition-delay: .1s !important;
}

.child_2 {
    -webkit-transition-delay: .3s !important;
    -moz-transition-delay: .3s !important;
    -ms-transition-delay: .3s !important;
    -o-transition-delay: .3s !important;
    transition-delay: .3s !important;
}

.child_3 {
    -webkit-transition-delay: .5s !important;
    -moz-transition-delay: .5s !important;
    -ms-transition-delay: .5s !important;
    -o-transition-delay: .5s !important;
    transition-delay: .5s !important;
}

.child_4 {
    -webkit-transition-delay: .7s !important;
    -moz-transition-delay: .7s !important;
    -ms-transition-delay: .7s !important;
    -o-transition-delay: .7s !important;
    transition-delay: .7s !important;
}

/*---*/

#Grupo_455 {
    position: absolute;
    width: 639px;
    height: 105px;
    left: 41px;
    top: 1116px;
    overflow: visible;
}

#Grupo_454 {
    position: absolute;
    width: 639px;
    height: 98px;
    left: 0px;
    top: 3px;
    overflow: visible;
}

#Grupo_453 {
    position: absolute;
    width: 639px;
    height: 98px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rect_ngulo_5 {
    position: absolute;
    overflow: visible;
    width: 639px;
    height: 98px;
    left: 0px;
    top: 0px;
}

#Elipse_26 {
    --web-animation: fadein 0.05s linear;
    --web-action-type: page;
    /*--web-action-target: Pantalla_de_Inicio.html;*/
    cursor: pointer;
}

.Elipse_26 {
    position: absolute;
    overflow: visible;
    width: 98px;
    height: 98px;
    left: 0px;
    top: 0px;
}

#Grupo_349 {
    position: absolute;
    width: 46.38px;
    height: 70px;
    left: 26px;
    top: 13px;
    overflow: visible;
}

#Grupo_348 {
    position: absolute;
    width: 46.38px;
    height: 70px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Trazado_175 {
    overflow: visible;
    position: absolute;
    width: 46.38px;
    height: 70px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Elipse_4 {
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    /*--web-action-target: Email.html;*/
    cursor: pointer;
}

.Elipse_4 {
    position: absolute;
    overflow: visible;
    width: 98px;
    height: 98px;
    left: 541px;
    top: 0px;
}

#ID021_multimedia {
    position: absolute;
    width: 70px;
    height: 46.484px;
    left: 554.734px;
    top: 25px;
    overflow: visible;
}

#Grupo_19 {
    position: absolute;
    width: 70px;
    height: 46.484px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Trazado_3 {
    overflow: visible;
    position: absolute;
    width: 70px;
    height: 46.484px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Grupo_20 {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 184px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    /*--web-action-target: Llamada.html;*/
    cursor: pointer;
}

.Elipse_3 {
    position: absolute;
    overflow: visible;
    width: 105px;
    height: 105px;
    left: 0px;
    top: 0px;
}

#ID018_tecnologia_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 17.5px;
    top: 20px;
    overflow: visible;
}

#Grupo_18 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Trazado_2 {
    overflow: visible;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Grupo_351 {
    position: absolute;
    width: 33.972px;
    height: 30px;
    left: 49.617px;
    top: 37.2px;
    overflow: visible;
}

#Grupo_350 {
    position: absolute;
    width: 33.972px;
    height: 30px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Trazado_176 {
    overflow: visible;
    position: absolute;
    width: 33.972px;
    height: 30px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Grupo_452 {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 349px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: page;
    /*--web-action-target: Pantalla_de_Inicio___5.html;*/
    cursor: pointer;
}

#Grupo_450 {
    position: absolute;
    width: 105px;
    height: 105px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Elipse_3_ey {
    position: absolute;
    overflow: visible;
    width: 105px;
    height: 105px;
    left: 0px;
    top: 0px;
}

#pin {
    position: absolute;
    width: 46.667px;
    height: 70px;
    left: 29px;
    top: 18px;
    overflow: visible;
}

#Grupo_451 {
    position: absolute;
    width: 46.667px;
    height: 70px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Trazado_183 {
    overflow: visible;
    position: absolute;
    width: 46.667px;
    height: 70px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

/*
*
* LAUNCHER STYLES
*
*/
/* .mediaViewInfo {
    --web-view-name: Pantalla de Inicio;
    --web-view-id: Pantalla_de_Inicio;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Pantalla_de_Inicio;
}*/

/*
*
* SOCIALPYMES COMPONENT STYLE
*
*/
#Componente_1___1 {
    position: relative;
    /*width: 230px;*/
    /*height: 68px;*/
    /*left: 245px;*/
    /*top: 1185px;*/
    overflow: hidden;
}

/*
*
*ESTILOS SPINNER CIRCLE
*
*/
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #0dc5c1;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%, 0% {
        transform: scale(1.0);
    }
}

/*
*
*ESTILOS SPINNER
*
*/

.Rect_ngulo_1 {
    overflow: visible;
    width: 414px;
    height: 50px;
    left: 153px;
    top: 872px;
}

#loadingProgressG {
    width: 228px;
    height: 19px;
    overflow: hidden;
    background-color: #0dc5c1;
    margin: auto;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.loadingProgressG {
    background-color: rgb(255, 255, 255);
    /*margin-top: 0;*/
    /*margin-left: -414px;*/
    animation-name: bounce_loadingProgressG;
    -o-animation-name: bounce_loadingProgressG;
    -ms-animation-name: bounce_loadingProgressG;
    -webkit-animation-name: bounce_loadingProgressG;
    -moz-animation-name: bounce_loadingProgressG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    width: 428px;
    height: 19px;
}

@keyframes bounce_loadingProgressG {
    0% {
        margin-left: -414px;
    }
    100% {
        margin-left: 414px;
    }
}

@-o-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -414px;
    }
    100% {
        margin-left: 414px;
    }
}

@-ms-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -414px;
    }
    100% {
        margin-left: 414px;
    }
}

@-webkit-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -414px;
    }
    100% {
        margin-left: 414px;
    }
}

@-moz-keyframes bounce_loadingProgressG {
    0% {
        margin-left: -414px;
    }
    100% {
        margin-left: 414px;
    }
}

/*
*
* ESTILOS LAUNCHER
*
*/

#Pantalla_de_carga {
    position: absolute;
    width: 720px;
    height: 1280px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: Pantalla de Inicio;
    --web-view-id: Pantalla_de_Inicio;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Grupo_5 {
    position: absolute;
    width: 366px;
    height: 174px;
    left: 177px;
    top: 75px;
    overflow: visible;
}

/* #Grupo_4 {
    position: absolute;
    width: 236px;
    height: 87px;
    left: 130px;
    top: 87px;
    overflow: visible;
} */

#ComandApp {
    --web-view-name: Pantalla de carga;
    --web-view-id: Pantalla_de_carga;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Grupo_2 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 210px;
    top: 103px;
    overflow: visible;
}

.Elipse_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 318px;
    height: 318px;
    left: 0px;
    top: 0px;
}

.Elipse_2 {
    position: absolute;
    overflow: visible;
    width: 220px;
    height: 220px;
    left: 40px;
    top: 40px;
}

#Grupo_1 {
    position: absolute;
    width: 153px;
    height: 205px;
    left: 65px;
    top: 55px;
    overflow: visible;
}

#C {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 237px;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112, 112, 112, 1);
}

#Tu_carta_digital {
    position: absolute;
    left: 137px;
    top: 63px;
    overflow: visible;
    width: 100px;
    font-size: 130px;
    color: rgba(112, 112, 112, 1);
}

#A {
    position: absolute;
    left: 85px;
    top: 62px;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112, 112, 112, 1);
}

#Grupo_3 {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Elipse_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 148px;
    left: 0px;
    top: 0px;
}

.Elipse_2 {
    position: absolute;
    overflow: visible;
    width: 90px;
    height: 90px;
    left: 20px;
    top: 20px;
}

#A {
    position: absolute;
    left: 65px;
    top: 51px;
    overflow: visible;
    width: 30px;
    font-size: 70px;
    color: rgba(112, 112, 112, 1);
}

#ComandApp {
    position: absolute;
    left: 153px;
    top: 466px;
    overflow: visible;
    width: 415px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112, 112, 112, 1);
}

#C {
    position: absolute;
    left: 34px;
    top: 31px;
    overflow: visible;
    width: 51px;
    font-size: 70px;
    color: rgba(112, 112, 112, 1);
}

#Tu_carta_digital {
    position: absolute;
    left: 368px;
    top: 577px;
    overflow: visible;
    width: 200px;
    white-space: nowrap;
    text-align: left;
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(112, 112, 112, 1);
}

#Grupo_6 {
    position: absolute;
    width: 295px;
    height: 76px;
    left: 213px;
    top: 1022px;
    overflow: visible;
    --web-animation: fadein 0.1s ease-out;
    --web-action-type: page;
    /*--web-action-target: Pantalla_de_Inicio___1.html;*/
    cursor: pointer;
}

.Rect_ngulo_3 {
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 313px;
    height: 94px;
    left: 0px;
    top: 0px;
}

#INICIO {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.161));
    position: absolute;
    left: 86px;
    top: 14px;
    overflow: visible;
    width: 125px;
    white-space: nowrap;
    text-align: left;
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(112, 112, 112, 1);
}

#restaurant_691397_1280 {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.361));
    position: absolute;
    width: 795px;
    height: 529.5px;
    left: -37px;
    top: 364px;
    overflow: visible;
}

#Componente_1___1 {
    /*font-size: 30px;*/
    color: rgba(112, 112, 112, 1);
}

.Rect_ngulo_2 {
    position: absolute;
    overflow: visible;
    width: 21px;
    height: 22px;
    left: 187px;
    top: 886px;
}

#Grupo_8 {
    position: absolute;
    width: 230px;
    height: 68px;
    left: 245px;
    top: 1185px;
    overflow: visible;
}

#powered_by {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: left;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(112, 112, 112, 1);
}

#socialPymes_Imagotipo {
    position: absolute;
    width: 230px;
    height: 40px;
    left: 0px;
    top: 28px;
    overflow: visible;
}

/*
*
*MEDIAQUERIES FOR CATEGORY TITLES
*
*/
.category_title {
    /*font-size: .8em;*/
    font-size: 1.3em;
    text-transform: uppercase;
}

@media (max-width: 320px) {
    .category_title {
        /*font-size: .8em;*/
        font-size: 1.3em;
        text-transform: uppercase;
    }
}

@media (min-width: 320.2px) and (max-width: 425px) {
    .category_title {
        /*font-size: 1em;*/
        font-size: 1.3em;
        text-transform: uppercase;
    }
}

@media (min-width: 425.2px) and (max-width: 768px) {
    .category_title {
        font-size: 1.3em;
        text-transform: uppercase;
    }
}

/*--------------------------------*/
body {
    position: relative;
}

html, body, #root {
    max-width: 900px !important;
    max-height: 1280px !important;
}

html {
    margin: 0 auto;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*scroll-behavior: smooth;*/
    /*overflow: hidden;*/
}

/*@media (max-width: 900px) and (orientation: portrait) {*/
@media (max-width: 900px) {
    html, body {
        width: 100vw;
        height: 100vh;
    }

    #root {
        width: 100%;
        height: 100%;
    }
}


@media (min-width: 901px) {
    body, #root {
        max-width: 720px !important;
        max-height: 1280px !important;
    }

    html {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    #root {
        width: 100%;
        height: 100%
    }

    .subRootHome {
        height: 100vh;
    }
}
