/*
*
* ESTILOS HEADER
*
*/
.mediaViewInfo {
  --web-view-name: Pantalla de Inicio – 2;
  --web-view-id: Pantalla_de_Inicio___2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Pantalla_de_Inicio___2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Pantalla_de_Inicio___2 {
  position: absolute;
  width: 720px;
  height: 1280px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Pantalla de Inicio – 2;
  --web-view-id: Pantalla_de_Inicio___2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Grupo_17 {
  position: relative;
  width: 720px;
  height: 102px;
  left: 0px;
  top: 18px;
  overflow: visible;
}
#Grupo_13 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 28px;
  top: 0px;
  overflow: visible;
}
#Grupo_12 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Elipse_1 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 103px;
  height: 103px;
  left: 0px;
  top: 0px;
}
.Elipse_2 {
  position: absolute;
  overflow: visible;
  width: 60px;
  height: 60px;
  left: 13px;
  top: 13px;
}
#Grupo_11 {
  position: absolute;
  width: 36px;
  height: 48px;
  left: 25px;
  top: 20px;
  overflow: visible;
}
#A {
  position: absolute;
  left: 18px;
  top: 12px;
  overflow: visible;
  width: 19px;
  white-space: nowrap;
  text-align: left;
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(112,112,112,1);
}
#C {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112,112,112,1);
}
#Grupo_9 {
  position: absolute;
  width: 150px;
  height: 46.339px;
  left: 123px;
  top: 39px;
  overflow: visible;
}
#powered_by {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 71px;
  white-space: nowrap;
  text-align: left;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(112,112,112,1);
}
#socialPymes_Imagotipo {
  position: absolute;
  width: 150px;
  height: 26.339px;
  left: 0px;
  top: 20px;
  overflow: visible;
}
.L_nea_1 {
  overflow: visible;
  position: absolute;
  width: 720px;
  height: 2px;
  left: 0px;
  top: 102px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_14 {
  position: absolute;
  width: 35px;
  height: 27.065px;
  left: 637px;
  top: 28.5px;
  overflow: visible;
}
/*
*
* ESTILOS FOOTER
*
*/
#Grupo_20 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 184px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.4s ease-out;
  --web-action-type: page;
  /*--web-action-target: Llamada.html;*/
  cursor: pointer;
}
#Grupo_455 {
  position: relative;
  width: 639px;
  height: 105px;
  left: 41px;
  top: 1116px;
  overflow: visible;
}
#Grupo_454 {
  position: relative;
  width: 639px;
  height: 98px;
  left: 0px;
  top: 3px;
  overflow: visible;
}
#Grupo_453 {
  position: absolute;
  width: 639px;
  height: 98px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Rect_ngulo_5 {
  position: absolute;
  overflow: visible;
  width: 639px;
  height: 98px;
  left: 0px;
  top: 0px;
}
#Elipse_26 {
  --web-animation: fadein 0.05s linear;
  --web-action-type: page;
  /*--web-action-target: Pantalla_de_Inicio.html;*/
  cursor: pointer;
}
.Elipse_26 {
  position: absolute;
  overflow: visible;
  width: 98px;
  height: 98px;
  left: 0px;
  top: 0px;
}
#Grupo_349 {
  position: absolute;
  width: 46.38px;
  height: 70px;
  left: 26px;
  top: 13px;
  overflow: visible;
}
#Grupo_348 {
  position: absolute;
  width: 46.38px;
  height: 70px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Trazado_175 {
  overflow: visible;
  position: absolute;
  width: 46.38px;
  height: 70px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Elipse_4 {
  --web-animation: fadein 0.4s ease-out;
  --web-action-type: page;
  /*--web-action-target: Email.html;*/
  cursor: pointer;
}
.Elipse_4 {
  position: absolute;
  overflow: visible;
  width: 98px;
  height: 98px;
  left: 541px;
  top: 0px;
}
#ID021_multimedia {
  position: absolute;
  width: 70px;
  height: 46.484px;
  left: 554.734px;
  top: 25px;
  overflow: visible;
}
#Grupo_19 {
  position: absolute;
  width: 70px;
  height: 46.484px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Trazado_3 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 46.484px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_20 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 184px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.4s ease-out;
  --web-action-type: page;
  /*--web-action-target: Llamada.html;*/
  cursor: pointer;
}
.Elipse_3 {
  position: absolute;
  overflow: visible;
  width: 105px;
  height: 105px;
  left: 0px;
  top: 0px;
}
#ID018_tecnologia_1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 17.5px;
  top: 20px;
  overflow: visible;
}
#Grupo_18 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Trazado_2 {
  overflow: visible;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_351 {
  position: absolute;
  width: 33.972px;
  height: 30px;
  left: 49.617px;
  top: 37.2px;
  overflow: visible;
}
#Grupo_350 {
  position: absolute;
  width: 33.972px;
  height: 30px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Trazado_176 {
  overflow: visible;
  position: absolute;
  width: 33.972px;
  height: 30px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_452 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 349px;
  top: 0px;
  overflow: visible;
  --web-animation: fadein 0.4s ease-out;
  --web-action-type: page;
  /*--web-action-target: Pantalla_de_Inicio___5.html;*/
  cursor: pointer;
}
#Grupo_450 {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Elipse_3_ey {
  position: absolute;
  overflow: visible;
  width: 105px;
  height: 105px;
  left: 0px;
  top: 0px;
}
#pin {
  position: absolute;
  width: 46.667px;
  height: 70px;
  left: 29px;
  top: 18px;
  overflow: visible;
}
#Grupo_451 {
  position: absolute;
  width: 46.667px;
  height: 70px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Trazado_183 {
  overflow: visible;
  position: absolute;
  width: 46.667px;
  height: 70px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
