/*
*
* ESTILOS HEADER
*
*/
.mediaViewInfo {
  --web-view-name: Pantalla de Inicio – 2;
  --web-view-id: Pantalla_de_Inicio___2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: Pantalla_de_Inicio___2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#Pantalla_de_Inicio___2 {
  position: absolute;
  width: 720px;
  height: 1280px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
  --web-view-name: Pantalla de Inicio – 2;
  --web-view-id: Pantalla_de_Inicio___2;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Grupo_17 {
  position: relative;
  width: 720px;
  height: 102px;
  left: 0px;
  top: 18px;
  overflow: visible;
}
#Grupo_13 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 28px;
  top: 0px;
  overflow: visible;
}
#Grupo_12 {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.Elipse_1 {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  position: absolute;
  overflow: visible;
  width: 103px;
  height: 103px;
  left: 0px;
  top: 0px;
}
.Elipse_2 {
  position: absolute;
  overflow: visible;
  width: 60px;
  height: 60px;
  left: 13px;
  top: 13px;
}
#Grupo_11 {
  position: absolute;
  width: 36px;
  height: 48px;
  left: 25px;
  top: 20px;
  overflow: visible;
}
#A {
  position: absolute;
  left: 18px;
  top: 12px;
  overflow: visible;
  width: 19px;
  white-space: nowrap;
  text-align: left;
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(112,112,112,1);
}
#C {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 31px;
  white-space: nowrap;
  text-align: left;
  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(112,112,112,1);
}
#Grupo_9 {
  position: absolute;
  width: 150px;
  height: 46.339px;
  left: 123px;
  top: 39px;
  overflow: visible;
}
#powered_by {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  width: 71px;
  white-space: nowrap;
  text-align: left;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(112,112,112,1);
}
#socialPymes_Imagotipo {
  position: absolute;
  width: 150px;
  height: 26.339px;
  left: 0px;
  top: 20px;
  overflow: visible;
}
.L_nea_1 {
  overflow: visible;
  position: absolute;
  width: 720px;
  height: 2px;
  left: 0px;
  top: 102px;
  transform: matrix(1,0,0,1,0,0);
}
#Grupo_14 {
  position: absolute;
  width: 35px;
  height: 27.065px;
  left: 637px;
  top: 28.5px;
  overflow: visible;
}
.L_nea_2 {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 3px;
  left: 0px;
  top: 0px;
  transform: matrix(1,0,0,1,0,0);
}
.L_nea_3 {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 3px;
  left: 0px;
  top: 13.533px;
  transform: matrix(1,0,0,1,0,0);
}
.L_nea_4 {
  overflow: visible;
  position: absolute;
  width: 38px;
  height: 3px;
  left: 0px;
  top: 27.065px;
  transform: matrix(1,0,0,1,0,0);
}